<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>wtf</string>

    <key>ProgramArguments</key>

      <array>
          <string>/Users/home/github_projects/golang-diskutils/diskutils</string>
          <string>snapshot</string>
          <string>output_dir</string>
          <string>/Users/home/github_projects/golang-diskutils/demo/service/snaps</string>
      </array>


<key>StandardOutPath</key>

<string>/Users/home/github_projects/golang-diskutils/demo/service/stdout.txt</string>

<key>StandardErrorPath</key>

<string>/Users/home/github_projects/golang-diskutils/demo/service/stderr.txt</string>


    <key>RunAtLoad</key>
    <true/>

    <!-- This will only get called if the program exits for some reason -->
    <key>StartInterval</key>
    <integer>300</integer>

</dict>
</plist>
