<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>wtf</string>

    <key>ProgramArguments</key>
      <array>
          <string>/Users/home/github_projects/golang-diskutils/demo/service/wtf.sh</string>
          <string>hello</string>
          <string>-bob</string>
      </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>15</integer>

</dict>
</plist>
